#page-indice{
    display: flex;
    justify-content: center;
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
    margin-right: 30%;
    margin-left: 30%;
    padding-top: 6%;
    font-size: 250%;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
    border-bottom-style: solid;
    border-color: #1B7B34;
}
