/* Paleta de colores */
/* OCEAN #1FB58F */
/* SAND #EAB126 */
/* COCKTAIL #F24C4E */
/* PALM #1B7B34 */

/* Head y footer*/

/*
    Paleta de col-smores de google
    Azul: #4285f4
    Verde: #34a853
    Amarillo: #fbbc05
    Rojo: #ea4335
*/


.navbar-custom {
    color: #fff;
   
}

.custom-toggler.navbar-toggler {
    background-color: #fbbc05;
    color: rgb(202, 183, 14);
    
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250,250,250, 1.2)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  } 
.nav-link{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    margin-right: 50px;
    
}
button.navbar-toggler{
    background-color: #049764;
    color: #fff;
}
#btnInicio {
    
    background-color: #049764;
}
#btnProyectos {
    background-color: #AE3ACB;
}
#btnContacto {
    background-color: #FF45A4;
}


html{
    width:100%;
    height:100%;
    background: #1337C6;
    position: relative;
}

/* Main*/
body{
    width:100%;
    height:100%;
    background: #1337C6;
    position: relative;
    background: #1337C6;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.bienvenida{
    background:#1337C6;
    max-width: 10000px;
    
    
    
    
}
div.col.texto{
    color: #ffff;
    font-family: 'Roboto', sans-serif;
    margin-left: 5rem;
    font-size: 1.5rem;
}

h1#saludo{
    font-size: 7rem;
    margin-top: 5rem
}



.bienvenida img{
    margin-top: 4%;
    width: 400px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.row.redes{
    margin-top: 1rem;
}
div.row.redes div.col{
    text-align:center;
}
div.row.redes div.col img{
    width: 4rem;
}
div.row.redes div.col a{
    color: #fff;
}
div.row.redes div.col a:hover{
    color: #049764;
}
/* NO HACER ESTO EN UN NUEVO PROYECTO
IMPORTANTE PARA QUE DATOS BIOGRAFICOS FUNCIONE CORRECTAMENTE*/

#page-indice{
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
    margin-bottom: 0.2rem;
    margin-right: 30%;
    margin-left: 30%;
    padding-top: 6%;
    font-size: 250%;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
    border-bottom-style: solid;
    border-color: #EAB126;
}
.data-table{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    
}

#page-indice{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 0.2rem;
    margin-right: 30%;
    margin-left: 30%;
    padding-top: 6%;
    font-size: 250%;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
    border-bottom-style: solid;
    border-color: #EAB126;
}
#creativecommons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.creativecommonstext{
    text-align: center;
}
/*

#bienvenida{
    display: grid;
    grid-template-columns: [x0] 52% [x1] 7% [x2] 50% [x3];
    grid-template-rows: [y0] 18% [y1] 12%  [y2] ;
    
    margin-top: 4%;
    margin-left: 2%;
}

#saludo-home{
    grid-column: x0 /x0;
    grid-row: y0 / y0;
    font-family: 'Share Tech', sans-serif;
    font-size: 800%;
    font-weight: 1000;
    color: #1B7B34;
}

#description-home
{
    grid-column: x0 /x0;
    grid-row: y1 / y1;
    font-family: 'Share Tech', sans-serif;
    font-size: 400%;
    font-weight: 1000;
}


#home-photo {
    grid-column: x2;
    grid-row: y0;
    margin-top: 2%;
    width: 61%;
}

#biografia{
    grid-column: x0;
    grid-row: y2;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
}
*/