/* Paleta de colores */
/* OCEAN #1FB58F */
/* SAND #EAB126 */
/* COCKTAIL #F24C4E */
/* PALM #1B7B34 */

/* Head y footer*/

#logo-header {
	float: left;
	padding: 15px 0 0 20px;
    text-decoration: none;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}
	#logo-header:hover {
		color: #1B7B34;
	}
	
	#logo-header .site-name {
		font-weight: 700;
        font-size: 150%;
        flex-wrap: wrap;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 700;
        color: #1FB58F;
        flex-wrap: wrap;
    }


#main-header {
	background: #ffffff;
	color: #262228;
    height: 80px;
    border-bottom: black 5px solid;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}	
	#main-header a {
        color: #000000;
        
    }
    
    #main-header img{
        float: left;
        width: 40px;
        margin-top: 1.3%;
        margin-left: 2%;
        
        
    }

    nav {
        float: right;
        
    }
        nav ul {
            margin: 0;
            padding: 0;
            list-style: none;
            padding-right: 20px;
        }
        
            nav ul li {
                display: inline-block;
                line-height: 80px;
            }
                
                nav ul li a {
                    font-family: 'Cabin', sans-serif;
                    font-weight: 600;
                    display: block;
                    padding: 0 10px;
                    text-decoration: none;
                }
                
                    nav ul li a:hover {
                        background: #1FB58F;
                    }

#main-footer {
    position: static;
    left:0px;
    bottom:0px;
    height:40%;
    width:100%;
    background: #cccccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#main-footer .logos{
    margin-left: 120px;
}

#main-footer .logos .twitter-link .twitter-logo{
    width: 40px;
}
#main-footer .logos .linkedin-link .linkedin-logo{
    width: 30px;
    margin-bottom: 7px;
}
#main-footer .logos .github-link .github-logo{
    width: 26px;
    margin-left: 3px;
    margin-bottom: 7px;
}


/* Main*/
.bienvenida{
    display: flex;
}

.bienvenida-presentation{
    margin-top: 10%;
    margin-left: 7%;
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows: 20% ;
}
.bienvenida-presentation h1{
    font-family: 'Share Tech', sans-serif;
    font-size: 500%;
    font-weight: 1000;
    color: #1B7B34;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.bienvenida-presentation h2{
    font-family: 'Share Tech', sans-serif;
    font-size: 300%;
    font-weight: 500;
    color: #1FB58F;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.bienvenida-presentation article{
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -10%;
    padding-right: 10%;
}


.bienvenida img{
    margin-top: 4%;
    width: 400px;
}

/*

#bienvenida{
    display: grid;
    grid-template-columns: [x0] 52% [x1] 7% [x2] 50% [x3];
    grid-template-rows: [y0] 18% [y1] 12%  [y2] ;
    
    margin-top: 4%;
    margin-left: 2%;
}

#saludo-home{
    grid-column: x0 /x0;
    grid-row: y0 / y0;
    font-family: 'Share Tech', sans-serif;
    font-size: 800%;
    font-weight: 1000;
    color: #1B7B34;
}

#description-home
{
    grid-column: x0 /x0;
    grid-row: y1 / y1;
    font-family: 'Share Tech', sans-serif;
    font-size: 400%;
    font-weight: 1000;
}


#home-photo {
    grid-column: x2;
    grid-row: y0;
    margin-top: 2%;
    width: 61%;
}

#biografia{
    grid-column: x0;
    grid-row: y2;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
}
*/